{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

    <section id="product-listing">
        <div class="container">
            <div class="row">
                <aside class="col-sm-2 " id="sidebar">
                    <h3> <a href="{% url "shop:product_list" %}">Textile Shop</a></h3>
                    <ul>
                        {% for c in categories %}
                            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                            <hr>
                        {% endfor %}
                    </ul>
                </aside>

                <div class="col-12 col-lg-10">
                    <h1>{% if category %}{{ category.name }}{% else %}Textile Products {% endif %}</h1>
                    <div class="row">
                        {% for product in products %}
                            <div class="col-12 col-md-4">
                                <div class="product-wrapper">
                                    <div class="img-box">
                                        <img src="{{ product.image.url }}" class="w-100 img-fluid"/>
                                    </div>
                                    <div class="product-details">
                                        <h6>{{ product.category }} </h6>
                                        <h5><a href="{{ product.get_absolute_url }}" >{{ product.name }}</a> </h5>
                                        <p>{{ product.size }} <span class="float-right">&#x20A6; {{ product.price }}</span></p>
                                        <div class="faded-details">
                                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                {{ cart_product_form }}
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-block btn-primary" value="Add to cart">
                                            </form>
                                            <!-- <button class="btn btn-block btn-primary"><a href="#" >Add to Cart</a></button> -->
                                        </div>

                                    </div>

                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock content %}