/* cart nav css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Ubuntu:wght@700&family=Berkshire+Swash&display=swap');





html {
	scroll-behavior: smooth;
}

body {
	background-color: #f8f9fa;
}

/* primary button override */
.btn-primary {
	color: #fff;
	background: linear-gradient(#00dcff, #004c5c);
	transition: opacity .5s;
	border: none !important;
	outline: none !important;
}

.btn-primary:hover,
.btn-primary:active {
	opacity: 0.7;
	outline: none !important;
}

h1,
h2,
h3 {
	font-family: 'MUNICH SANS';
	letter-spacing: 2px;
	font-weight: 900;
	color: #004c5c;
}

h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

p {
	/* font-family: 'Ubuntu Condensed', sans-serif; */
	font-family: 'Raleway', sans-serif;
	font-size: 0.95em;
	letter-spacing: 1px;
}

.fw500 {
	font-weight: 500;
}

.fw700 {
	font-weight: 700;
}


.navbar-expand-lg {
	/*background-color: #005f69;*/
	background-color: white;
	/* color: #004c5c; */
	text-decoration: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
	font-family: 'Raleway', sans-serif;
	font-weight: 100 !important;
	/* color: #004c5c; */
}

.navbar-dark .navbar-brand {
	font-weight: 900;
	color: #33a1c9;
}

.icofont-ui-cart {
	color: #33a1c9;
}

.icofont-ui-cart:hover {
	color: #004c5c;
}

.navbar-expand-lg a {
	text-decoration: none;
	color: #004c5c;
}

.navbar-expand-lg a:hover {
	text-decoration: none;
	color: #33a1c9;
	;
}


/***** The css style for the badge *****/

ul .badge {
	/* color: #2F92CA; */
	color: #e10000;
	padding: 4px 7px;
	font-size: 1em;
	border-radius: 50%;
	position: relative;
	top: -15px;
	left: -15px;
}


#landing-page {
	height: 85vh;
	background-image: linear-gradient(rgba(0, 92, 151, 0.9), rgba(54, 55, 149, 0.9)), url("/static/shop/images/model3.jpg");
	background-size: cover;
}

.landing-page-details {
	margin: 23vh auto;
}

#landing-page h1 {
	font-weight: bolder;
	font-size: 4em;
	text-transform: uppercase;
	color: #ffffff;
}

#landing-page p {
	color: #FFFFFF;
	letter-spacing: 2px;
	font-size: 1em;
}


/*** how-to ***/

#how-to {
	padding: 20px 0;
}

#how-to .icofont {
	float: left;
	;
}

#how-to h6 {
	font-size: 0.9em !important;
	font-weight: 100 !important;
	width: 100%;
}


/***** Featured Images *****/

.ft-bg-img {
	height: 500px;
	width: 100%;
	object-fit: contain;
}


.featured_product .ft-img {
	height: 220px;
	width: 100%;
	padding-bottom: 10px;
	object-fit: cover;
	object-position: center;
	filter: drop-shadow(0 3px 2px grey);


}

.wrapper {
	transition: 3000s;
	padding: 0 20px 10px;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
	filter: drop-shadow(0 3px 2px grey);

}

.wrapper:hover .ft-details {
	display: block;
	width: 100%;
	transition: transform .7s;
	transform: translate(0, -60px);
}

.featured_product .ft-details {
	width: 100%;
	position: absolute;
	top: 180px;
	left: 0;
	transition: transform .5s;
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.75));
}



/***** The css style for shop services and goals *****/

.box {
	position: relative;
	width: 220px;
	height: 400px;
	background: rgba(225, 225, 225, .1);
	transform: rotate(-90deg) skew(25deg) scale(.8);
}

.box img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}


/* CSS FOR SHOP-GOALS */
#shop-goals {
	padding: 4em 0;
	background-color: #FFFFFF;
	min-height: 100%;

}

#shop-goals .icofont {
	background: -moz-linear-gradient(#00dcff, #004c5c);
	background: -webkit-linear-gradient(#00dcff, #004c5c);
	background: linear-gradient(#00dcff, #004c5c);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	display: inline-block;
	padding-bottom: 20px;
}

#shop-goals h3 {
	padding-bottom: 10px;
}


#shop-goals img {

	padding: 0 !important;
	margin-bottom: -20px !important;
	object-fit: contain;
	object-position: center;
	height: 500px;
	max-height: 100%;
	width: 100%;
	transform: translate(0, -40px);
	filter: drop-shadow(30px 0 7px lightgray);
}


/***** The css style rules for the shop categories and collections *****/

section#shop-collections {
	padding: 4.5em 1em;
	/*margin: 2em 0em auto;*/
	background: #f9f9ff !important;
	text-align: left;

}

.category-wrapper:hover .text-pin {
	filter: opacity(0.7);
	text-decoration: underline;
}

.category-wrapper:hover .collection-photos {
	transform: translate(0px, -15px);
	padding: 0 !important;
	/* filter: invert(0.2) hue-rotate(90deg); */

}

.category-wrapper:hover {
	box-shadow: 2px 2px 7px grey;
	text-decoration: underline;
	cursor: pointer;
}

section#shop-collections a {
	text-decoration: none;
}

.text-pin {
	color: #000;
	background-color: rgba(255, 255, 255, 1);
	-webkit-transform: translate(-2px, -68px);
	transform: translate(-2px, -68px);
	padding: 5px;
	display: inline-block;

}

.text-pin:hover {
	color: #004c5c;
}

.collection-photos {
	max-height: 230px;
	border-radius: 20px;
	transform: translate(0px, -30px);
	transition: transform 300ms;
	object-fit: cover;
	object-position: top;

}

section#shop-collections .category-wrapper {
	margin-top: 4em;
	padding: 0px 1em 0px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 7px rgba(80, 80, 80, 0.3);

}



.auth_css {
	background: #ffffff;
	box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin: 10px;
}

#stats-section {
	padding: 4.5em 0;
	background: white;

}

#stats-section i {
	padding-bottom: 20px !important;
	display: inline-block;
	background: linear-gradient(#00dcff, #004c5c);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}


/*** small screens ***/
@media(max-width: 48em) {

	.landing-page-details {
		margin: 18vh auto;
	}

	#landing-page h1 {
		font-size: 3em;
	}

	/** featured images **/

	.wrapper {
		transition: 3000s;
		padding: 20px 10px;
		overflow: hidden;
		object-fit: cover;
		object-position: center;
		filter: drop-shadow(0 3px 2px grey);

	}

	.featured_product .ft-details {
		top: 205px;
		left: 0;
	}

	/* reduce height of model images */
	.ft-bg-img {
		height: 350px;
	}

	#shop-goals img {
		height: 350px;
	}

}