/* cart nav css */

@import url('https://fonts.googleapis.com/css2? \
	family=EB+Garamond&family=Oswald:wght@700& \
	family=Roboto+Slab:wght@100&\
	family=Ubuntu:wght@700&\
	family=Berkshire+Swash&display=swap');





html{
	scroll-behavior: smooth;
}

body{
	background-color: #f8f9fa;
}

/* primary button override */
.btn-primary {
    color: #fff;
    background: linear-gradient(#00dcff , #004c5c);
	transition: opacity .5s;
	border: none !important;
	outline: none !important;
}

.btn-primary:hover, .btn-primary:active{
	opacity: 0.7;
	outline: none !important;
}

h1, h2, h3{
	font-family: 'MUNICH SANS';
	letter-spacing: 2px;
	font-weight: 900;
	color: #004c5c;
}

h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

p{
	/* font-family: 'Ubuntu Condensed', sans-serif; */
	font-family: 'Raleway', sans-serif;
	font-size: 0.95em;
	letter-spacing: 1px;
}


.navbar-expand-lg {
	/*background-color: #005f69;*/
	background-color: white;
	color: black;
	text-decoration: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
	font-family: 'Raleway', sans-serif;
	font-weight: 100 !important;
}

.navbar-dark .navbar-brand{
	font-weight: 900;
	color: #33a1c9;
}

.icofont-ui-cart{
	color: #33a1c9;
}

.icofont-ui-cart:hover{
	color: #004c5c;
}

.navbar-expand-lg a{
	text-decoration: none;
	color: #004c5c;
}


/***** The css style for the badge *****/

ul .badge {
	/* color: #2F92CA; */
	color: #e10000;
	padding: 4px 7px;
	background-color: #FFF;
	font-size: 1em;
	border-radius: 50%;
	position: relative;
	top: -15px;
	left: -15px;
}


#landing-page{
	height: 85vh;
	background-image: linear-gradient(rgba(0, 92, 151,  0.9), rgba(54, 55, 149,  0.9)), url("/static/shop/image/model3.jpg");
	/* background-image: linear-gradient(rgba(8, 8, 8,  0.9) 100%, rgba(8, 8, 8,  0.9) 100%), url("/static/shop/image/model3.jpg"); */
	background-size: cover;
}

.landing-page-details{
	margin: 23vh auto;
}

#landing-page h1{
	font-weight: bolder;
	font-size: 4em;
	text-transform: uppercase;
	color: #ffffff;
}

#landing-page p{
	color: #FFFFFF;
	letter-spacing: 2px;
	font-size: 1em;
}

/***** Featured Images *****/

.featured_product .ft-img {
	height: 220px; 
	width: 100%; 
	object-fit: cover; 
	object-position: center; 
	filter: drop-shadow(0 3px 2px grey);
	

}

.wrapper{
	transition: 3000s;
	overflow: hidden;
	object-fit: cover; 
	object-position: center; 
	filter: drop-shadow(0 3px 2px grey);
	
}

.wrapper:hover .ft-details {
	display: block;
	width: 100%;
	transition: transform .7s;
	transform: translate(0, -110px);
}

.featured_product  .ft-details {
	width: 100%;
	position: absolute;
	top: 220px;
	left: 0;
	transition: transform .5s;
	background: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0.5));
}



/***** The css style for shop services and goals *****/

.box{
	position: relative;
	width: 220px;
	height: 400px;
	background: rgba(225,225,225, .1);
	transform: rotate(-90deg) skew(25deg)  scale(.8);
}

.box img{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}


/* CSS FOR SHOP-GOALS */
#shop-goals{
	padding: 4em 0;
	background-color: #FFFFFF;
	min-height: 100%;

}



#shop-goals .icofont{
	background: -moz-linear-gradient(#00dcff , #004c5c);
    background: -webkit-linear-gradient(#00dcff , #004c5c);
    background: linear-gradient(#00dcff , #004c5c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	display: inline-block;
	padding-bottom: 20px;
}

#shop-goals h3 {
	padding-bottom: 10px;
}


#shop-goals img{
	object-fit: contain;
	object-position: center;
	height: 500px;
	max-height: 100%;
	width: 100%;
	transform: translate(0, -40px);
	filter: drop-shadow(30px 0 7px lightgray);
} 


/***** The css style rules for the shop categories and collections *****/

section#shop-collections {
	padding: 4.5em 2em;
	/*margin: 2em 0em auto;*/
	background: #f9f9ff !important;
	text-align: left;

}

.category-wrapper:hover .text-pin {
	filter: opacity(0.7);
	text-decoration: underline;
}

.category-wrapper:hover .collection-photos {
	transform: translate(0px, -15px);
	padding: 0 !important;
	/* filter: invert(0.2) hue-rotate(90deg); */

}

.category-wrapper:hover{
	box-shadow: 2px 2px 7px grey;
	text-decoration: underline;
	cursor: pointer;
}

section#shop-collections a{
	text-decoration: none;
}

.text-pin{
	color: #000;
	background-color: rgba(255, 255, 255, 1);
	-webkit-transform: translate(-2px,-68px);
	transform: translate(-2px,-68px);
	padding: 5px;
	display: inline-block;

}

.text-pin:hover{
	color: #004c5c;
}

.collection-photos{
	max-height: 230px;
	border-radius: 20px;
	transform: translate(0px, -30px);
	transition: transform 300ms;
	object-fit: cover;
	object-position: top;

}

section#shop-collections .category-wrapper{
	margin-top: 4em;
	padding:  0px 1em 0px ;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 7px rgba(80,80, 80, 0.3);

}


/***** The css style for the testimonial section *****/

.box img:nth-child(4){
	animation: layer4 10s 10s infinite linear;
}

.box img:nth-child(3){
	animation: layer3 10s 10s infinite linear;
}

.box img:nth-child(2){
	animation: layer2 10s 10s infinite linear;
}

.box img:nth-child(1){
	animation: layer1 10s 10s infinite linear;
}

@keyframes layer4 {
	70%{
		transform: translate(160px, -160px);
		opacity: 1;
	}
}
@keyframes layer3 {
	70%{
		transform: translate(120px, -120px);
		opacity: .8;
	}
}
@keyframes layer2 {
	70%{
		transform: translate(80px, -80px);
		opacity: .8;
	}
}
@keyframes layer1 {
	70%{
		transform: translate(40px, -40px);
		opacity: .8;
	}
}

#testimonial-section {
    padding: 3em 20px 7em;
	background-color: #36b0c3;
}

#testimonial-section p strong{
	color: white;
	text-transform: uppercase;
	font-size: 14px;

}
#testimonial-section p {
	color: black;
	margin: 20px 0;

}

#testimonial-section h3{
	line-height: 0;
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: 2em;
	color: black;
}


.carousel-control-next, .carousel-control-prev{
	top: 12em;
	padding: 10px;
}

#smiling-customer{
	color: #004c5c !important;
	display: inline-block;
	width: auto;
	height: auto;
	z-index: 1000;
	position: relative;
	top: -85px;
	margin-bottom: -20em;
	border: 10px solid #ffffff;
	border-radius: 999px;
	background-color: #f8f9fa;
	/*background: linear-gradient(#667eea , #764ba2)*/
}

/***** The css style for the statistic section *****/
#stats-section {
    padding: 7em 20px;
	text-align: center;
	/*background: black;*/
}

#stats-section p{
	font-weight: bolder;
}

#stats-section .icofont{
	background: -moz-linear-gradient(#00dcff , #004c5c);
	background: -webkit-linear-gradient(#00dcff , #004c5c);
	background: linear-gradient(#00dcff , #004c5c);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	border-radius: 40%;
	padding: 10px;
	display: inline-block;
}

.cart-img {
    max-height: 120px;
	width: 100%;
}


/*
*	Authentication css
*/

.auth_css {
	background: #ffffff;
	box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin: 10px;
}

