<!DOCTYPE html>
{% load static %}
<html lang="en" prefix=”og: http://ogp.me/ns#"> <head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="{% static 'shop/images/kukithumbnail.png' %}" />
{% if title %}
<title>Kuki-Textiles-{{ title }}</title>
{% else %}
<title>Kuki-Textiles</title>
{% endif %}
<link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'shop/css/icofont/icofont.min.css' %}" />
<link rel="stylesheet" href="{% static 'shop/css/kuki.css' %}" />
<link rel="stylesheet" href="{% static 'shop/css/footerCss.css' %}" />
<link rel="stylesheet" href="{% static 'shop/css/productCss.css' %}" />
<link rel="stylesheet" href="{% static 'shop/fonts/manrope/stylesheet.css' %}" />
<link rel="stylesheet" href="{% static 'shop/fonts/font/stylesheet.css' %}" />

<script>
    var user = '{{request.user}}';
</script>


</head>

<body>

    <nav class="navbar navbar-expand-lg border-bottom">
        <div class="container">
            <a class="navbar-brand" href="/">KUKI-SHOP</a>
            <ul class=" navbar-nav ml-auto d-block d-md-none">
                <li>
                    {% with total_items=cart|length %}
                    <a href="{% url "cart:cart_detail" %}">
                        <span class="icofont icofont-2x icofont-cart-alt">
                        </span>
                        {% if cart|length > 0 %}
                        <span id="cart_count" class="badge cart_count">{{ total_items }}</span>
                        {% else %}
                        <span id="cart_count" class="badge cart_count">{{ total_items }}</span>
                        {% endif %}
                    </a>
                    {% endwith %}
                    {% comment %} {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    <a href="{% url "cart:cart_detail" %}">
                        <span class="icofont icofont-2x icofont-cart-alt">
                        </span>
                        <span id="cart_count" class="badge cart_count">{{ total_items }}</span>
                    </a>
                    {% else %}
                    <a href="{% url "cart:cart_detail" %}">
                        <span class="icofont icofont-2x icofont-cart-alt"></span>
                        <span id="cart_count" class="badge cart_count">0</span>
                    </a>
                    {% endif %}
                    {% endwith %} {% endcomment %}
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icofont icofont-2x icofont-navigation-menu text-info"></span>
            </button>

            <div class="collapse navbar-collapse float-md-right" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'shop:shop-home' %}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "shop:product_list" %}">Shop</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Textiles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url "shop:product_list" %}">All products</a>
                            {#                            {{ categories }}#}
                            {% for c in categories %}
                            <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div> <!-- end of collapse div-->

            <ul class="navbar-nav d-flex flex-row">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown nav-item nav-auth" style="float: left;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome, <span class=" text-info">{{ request.user.username }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout </a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item mt-2 d-block">
                    <a class="nav-link" href="{% url 'account_login' %}">
                        LOGIN
                    </a> 

                </li>
                <li class="nav-item mr-2 d-none d-md-block">
                    <a class="nav-link nav-auth" href="{% url 'account_signup' %}">
                        <button class="btn btn-danger btn-sm shadow-lg">
                            SIGN UP
                        </button>
                    </a> 
                </li>
                {% endif %}
            </ul>

            <ul class=" navbar-nav  d-md-inline-block d-none">
                <li>
                    {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                    <a href="{% url "cart:cart_detail" %}">

                        <span class="icofont icofont-2x icofont-cart-alt">
                        </span>
                        <span id="cart_count" class="badge cart_count">{{ total_items }}</span>
                    </a>
                    {% else %}
                    <a href="{% url "cart:cart_detail" %}">
                        <span class="icofont icofont-2x icofont-cart-alt"></span>
                        <span id="cart_count" class="badge cart_count">0</span>
                    </a>
                    {% endif %}
                    {% endwith %}
                </li>
            </ul>


        </div>
    </nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    {% block content %}

    {% endblock content %}

    <section id="footer-section">
        <footer class="container py-1">
            <div class="row">
                <div class="col-6 col-md-5">
                    <h3>Kuki Textile Shop</h3>
                    <ul>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'shop:shop-home' %}">Home <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "shop:product_list" %}">Shop</a>
                        </li>
                    </ul>

                </div>
                <div class="col-6 col-md-5">
                    <h3>Socialize With Us</h3>
                    <ul>
                        <li>
                            <span><a href="#"><i class="icofont icofont-facebook pr-2"></i>Facebook</a></span>
                        </li>
                        <li class="nav-item">
                            <span><a href="#"><i class="icofont icofont-instagram pr-2"></i>Instagram</a></span>
                        </li>
                        <li>
                            <span><a href="#"><i class="icofont icofont-twitter pr-2"></i>Twitter</a></span>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-2">
                    <p>&copy; copyright, developed 2020, all right reserved</p>
                    <i class="icofont icofont-3x icofont-arrow-up" id="topBtn" onclick="topFunction()" title="to top">
                    </i>
                </div>
            </div>
        </footer>
    </section>

    <script src="{% static 'shop/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'shop/js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.productValue').click(function (event) {
                event.preventDefault();
                var productId = $(this).attr('id');

                $.ajax({
                    url: '{% url "cart:cart_add_with_ajax" %}',
                    type: 'POST',
                    data: {
                        'product_id': $('#' + productId).val(),
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'action': 'post'
                    },
                    success: function (response) {
                        if (response) {
                            $('.cart_count').text(response['cart_total']);
                            console.log(user);
                        }
                        console.log("success");
                    },
                    error: function (rs, e) {
                        console.log(e.response)
                    }
                })
            })
        })
    </script>

    <script>
        $(document).ready(($) => {
            $('.counter').counterUp({
                time: 2000,
                delay: 10,
                repeat: true

            });
        });
    </script>
    <script src="{% static 'shop/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'shop/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'shop/js/typed.min.js' %}"></script>





    <script>
        var typed = new Typed('.typing-text', {
            strings: [
                "Cheap and Affordable Textiles!",
                "Quick Delivery with Discount!!",
                "Look Beautiful the Native Way !!! ^1000"
            ],
            typeSpeed: 100,
            backSpeed: 70,
            loop: true
        });
    </script>

    <script>
        const topFunction = () => {
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>

</html>