{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<!--
    Note: The body acts as the overall wrapper for the index page.
    i see no reason adding extra tags
    Apart from the nav it contains about 6 section layer steps


    The landing page banner and background image
     -->
<section id="landing-page">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-md-6 landing-page-details">
                <p>
                    <span class="typing-text" style="color:orange;"></span>
                </p>
                <h1 class="pb-4">
                    Kuki Textile & Shop.
                </h1>
                <p>
                    We sell variety of highly quality textiles at cheap and affordable price.
                    i.e Ankara, Laces, Lifaya, men yards...
                </p>
                <p>
                    <a href="{% url "shop:product_list" %}" class="btn  btn-primary mt-4" style="font-size: 26px;
                        text-transform: uppercase; padding: 10px 35px; font-weight: 400; ">
                        Shop Now
                    </a>
                </p>
            </div>
            <div class="col-12 col-md-6 ">
                
            </div>
            
        </div>
    </div>
</section>
<section id="how-to" class=" bg-white">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3 border-right  pt-3 pt-md-0">        
                <div  class="d-flex align-items-center">
                    <i class="icofont icofont-2x icofont-fast-delivery text-info pr-3"  style="float: left;"></i>
                    <h6>
                        Fast Delivery withing Nigeria
                    </h6>
                </div>    
            </div>

            <div class="col-6 col-md-3 border-right  pt-3 pt-md-0">               
                <div  class="d-flex align-items-center">
                    <i class="icofont icofont-2x icofont-sale-discount text-warning pr-3"  style="float: left;"></i>
                    <h6>
                        15% Sales Discount 
                    </h6>
                </div>
                
            </div>

            <div class="col-6 col-md-3 border-right  pt-3 pt-md-0">                
                <div  class="d-flex align-items-center">
                    <i class="icofont icofont-2x icofont-free-delivery text-primary pr-3"  style="float: left;"></i>
                    <h6>
                        Free Delivery Within Lagos
                    </h6>
                </div>
                
            </div>

            <div class="col-6 col-md-3 ">       
                <div  class="d-flex align-items-center pt-3 pt-md-0">
                    <i class="icofont icofont-2x icofont-pay text-danger pr-3"  style="float: left;"></i>
                    <h6>
                        Secured Payment
                    </h6>
                </div>    
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container featured_product" style="margin: 5em auto;">
        <div class="row">
            <div class="col-12 col-md-4">
                <div>
                    <img src="{% static 'shop/images/malemodel1.png' %}" alt="" 
                    class="img-fluid ft-bg-img">
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row mb-5">
                    <div class="col-12 col-sm-6">
                        <div class="wrapper">
                            <img src="{% static 'shop/images/IMG-20200605-WA0002.jpg' %}" alt=""
                            class="img-fluid ft-img" >
                            <div class=" text-center p-3 ft-details">
                                <h1 class="h3">Class & Popular</h1>
                                <a href="" class="btn btn-primary btn-block">
                                    Explore Now
                                </a>
                            </div>
                        </div>        
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="wrapper">
                            <img src="{% static 'shop/images/IMG-20200605-WA0048.jpg' %}" alt=""
                            class="img-fluid ft-img">
                            <div class=" text-center p-3 ft-details">
                                <h1 class="h3">Hot Sales</h1>
                                <a href="" class="btn btn-primary btn-block">
                                    Explore Now
                                </a>
                            </div>
                        </div>        
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <img src="{% static 'shop/images/senatorfabrics.jpg' %}" alt="" 
                        class="img-fluid"
                        style="width: 100%; height: 230px;" >

                        
                    </div>
                    <div class="col-12 col-sm-6 d-flex align-self-center">
                        <div class="h-100 text-center">
                            <h3>Senetor's Fabric</h3>
                            <p class="p-3 bg-white" style=" border-radius: 15px;">
                                Most sensational, impressive, and trending fabrics in Nigeria Today.
                            </p>
                            <a href="#" class="btn btn-primary">
                                start shopping today
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- shop services, offers section -->
<section id="shop-goals">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 mb-5">
                        <div class="">
                            <p class="icon-p"><i class="icofont icofont-3x icofont-handshake-deal"></i></p>
                            <h3>Satisfied Customers</h3>
                            <p>
                                13K + Satisfied customers, You will always have a reason to smile, and look good.
                            </p>
                        </div>

                    </div>

                    <div class="col-6 col-sm-6 col-md-6 mb-5">
                        <div class="">
                            <p class="icon-p"><i class="icofont icofont-3x icofont-sale-discount"></i>
                            <h3>Sales Discount</h3>
                            <p>
                                Discount on all sales bought from us. Save money while shopping fabrics and textiles.

                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6">
                        <div class="">
                            <p><i class="icofont icofont-3x icofont-bird-wings"></i></p>
                            <h3>Original Products</h3>
                            <p>
                                All our textiles and fabrics are original with stamp,
                                for cheap and affordable price.
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6">
                        <div class="">
                            <p><i class="icofont icofont-3x icofont-thief"></i></p>
                            <h3>Shop as a Guest</h3>
                            <p>
                                You can shop as a guest without registering.
                                We got you covered.                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                    <img src="{% static 'shop/images/model11-removebg-preview.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>


<!-- shop categories  Dynamically listed and linked -->
<section id="shop-collections">
    <section class="container w-100">
        <h2>Shop By Textile Category</h2>
        <div class="row px-1 px-md-5">
            {% for c in categories %}
            <div class="col-12 col-sm-6 col-md-4">
                <a href="{{ c.get_absolute_url }}">
                    <div class="category-wrapper">
                        <img src="{{ c.cat_image.url }}" class="w-100 h-100 img-fluid collection-photos"
                            alt="{{ c.name }} " />
                        <h4 class="text-pin">{{ c.name }}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</section>


<!-- testimonial section -->
<!-- <section id="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Happy Customers, Great Business </h1>
            </div>  
            <div class="col-12"></div>        
        </div>
    </div>
</section> -->

<!-- stat section -->
<section id="stats-section" class="border-top border-bottom">
    <div class="container">
        <div class="row  text-center">
            <div class="col-6 col-sm-6 col-md-3">
                <i class="icofont icofont-5x icofont-people"></i>
                <h3><span class="counter">13000</span> <span>+</span> </h3>
                <p>Customers</p>

            </div>

            <div class="col-6 col-sm-6 col-md-3">
                <i class="icofont icofont-5x icofont-shopify"></i>
                <h3><span class="counter">1000000</span> <span>+</span></h3>
                <p>Sales</p>

            </div>

            <div class="col-6 col-sm-6 col-md-3">
                <i class="icofont icofont-5x icofont-users-alt-5"></i>
                <h3><span class="counter">9000</span> <span>+</span></h3>
                <p>Registered Users</p>

            </div>

            <div class="col-6 col-sm-6 col-md-3">
                <i class="icofont icofont-5x icofont-text-height"></i>
                <h3><span class="counter">32</span> <span>+</span></h3>
                <p>Brands</p>

            </div>
        </div>
    </div>
</section>



{% endblock content %}