{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <section id="dashboard">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <h1><span class="text-info">{{request.user.username}}</span> dashboard</h1>
                    {% for order in orders %}
                <h2>{{order}}</h2>
            {% endfor %}
                </div>
            </div>

            
        </div>
    </section>
{% endblock content %}